@model ICollection<DateTime>
@{
    ViewData["Title"] = "Parking booking portal";
}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/hot-sneaks/jquery-ui.css" />
<div class="form-area">
    <h3 style="color: white;">Booking Details</h3>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <form action="Index" method="post" id="payment-form">

        <div class="calender-area">
            <h3 style="color: white;">Select Dates</h3>
            <input type="text" name="datesReserved" id="dateinput" placeholder="Select Date" autocomplete="off" required />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <button type="button" class="btn btn-info" onclick="calculatePay('#dateinput')">Calculate price</button>

            <div id="result"></div>

        </div>


        <div>
            <p>Full Name</p>
            <input type="text" name="fullName" id="" placeholder="Full Name" required />
            <p>Email</p>
            <input type="email" name="email" id="" placeholder="email" required />
            <p>Phone</p>
            <input type="number" name="phone" id="" placeholder="phone" required />
            <p>Number plate</p>
            <input type="text" name="carPlateNumber" id="" placeholder="Number plate" required />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />


        </div>

        <div class="form-row">
            <label for="card-element">
                Credit or debit card
            </label>
            <div id="card-element">
                <!-- A Stripe Element will be inserted here. -->
            </div>

            <!-- Used to display form errors. -->
            <div id="card-errors" role="alert"></div>

            <input type="submit" value="Pay" class="btn btn-success btn-lg btn-block" />
        </div>

    </form>

</div>

@section Scripts{
    <script src="https://js.stripe.com/v3/"></script>
    <script lang="text/JavaScript" src="~/js/IndexScript.js"></script>
    <script>

        console.log("Hi");
        $(document).ready(function () {
            let disabledDates = [];
            @foreach(var item in Model){
                @: disabledDates.push(new Date('@item.ToString("yyyy-MM-dd")'));
            };

            DisableDates(disabledDates);
        });

    </script>
}