@model ICollection<DateTime>
@{
    ViewData["Title"] = "Quality Inn (Cincinnati airport) parking booking portal";
}
@*<script lang="text/JavaScript" src="~/js/IndexScript.js"></script>*@
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/hot-sneaks/jquery-ui.css" />
<div class="form-area">
    <h3 style="color: white;">Booking Details</h3>

    <form asp-controller="Home" asp-action="Index" method="post">
        
        <div class="calender-area">
            <h3 style="color: white;">Select Dates</h3>
            <input type="text" name="datesReserved" id="dateinput" placeholder="Select Date" onclick="_refresh" autocomplete="off" required />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <button type="button" class="btn btn-info"onclick="calculatePay('#dateinput')">Calculate price</button>

            <div id="result"></div>

        </div>


        <div>
            <p>Full Name</p>
            <input type="text" name="fullName" id="" placeholder="Full Name" required />
            <p>Email</p>
            <input type="email" name="email" id="" placeholder="email" required />
            <p>Phone</p>
            <input type="number" name="phone" id="" placeholder="phone" required />
            <p>Number plate</p>
            <input type="text" name="carPlateNumber" id="" placeholder="Number plate" required />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <input type="hidden" id="amountPaid" name="amountPaid" value="javascript: calculatePay('#dateinput')" />
            <input type="hidden" id="numberOfDaysReserved" name="numberOfDaysReserved" value="javascript: calculatePay('#dateinput') / 5" />
            <input type="submit" value="pay" class="btn btn-success btn-lg btn-block" />
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        let disabledDates = [];
        @foreach (var item in Model){
            @:disabledDates.push(new Date('@item.ToString("yyyy-MM-dd")'));
        };
        
        $('#dateinput').multiDatesPicker({
            minDate: 0,
            maxDate: 365,
            //dateFormat: "yyyy-mm-dd",
            altField: '#dateinput',
            showOtherMonths: true,
            selectOtherMonths: true,
            addDisabledDates: disabledDates,
            
            //addDates : dts,
        });
    });

    function calculatePay(elem) {
        var $this = $(elem);
        var val = $this.val();
        if (val == '') {
            alert('please select a date');
        } else {
            var values = $this.val().split(',');
            var count = 0;
            for (var a = 0; a < values.length; a++) {
                count++;
            }
        }
        document.getElementById("result").innerHTML = "Total price: $" + count * 5;
        $("numberOfDaysReserved").val(count);
        $("amountPaid").val(count * 5);
        console.log($('#dateinput').val())

    }

    //function _refresh() {
    //    //let valus = $("dateinout").values();
    //    let dts;
    //    $('#dateinput').multiDatesPicker({
    //        //dts = $('#dateinput').multiDatesPicker('value'),
    //        dts = $('#dateinput').multiDatesPicker('value'),
    //        resetDates: enabled,
    //        //addDates : dts,
    //        //addDates: $('#dateinput').multiDatesPicker('value')
    //    });
    //}

</script>