@model PBP.Main.View_Models.ReceiptVM
@{
    ViewData["Title"] = "Booking Confirmation - PBP";
}

    <div style="float:right; position: inherit; right: 0px; top: 0px">

        <a class="btn" href="javascript: window.print()"><img src="~/Images/print-icon.png" style="width:30px" alt="Print" /></a>
       
        <a class="btn" href="#" target="_blank"><img src="~/Images/pdf download.png" alt="Download" style="width:50px" /></a>

    </div>
@Html.PartialAsync("~/Views/_TransactionSuccessful.cshtml", Model);
